* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-size: 16px;
   scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: #688a65;
}

header {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #94a59c;
}

.first-row {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background-color: #2c341b;
    color: #94a59c;
}

.main-nav {
    margin: 0 auto;
}

.main-nav ul, .sub-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {     
    font-size: 1rem;
    margin: 0 2rem;
    /* color: #dddfc2; */
    padding: 20px 0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}

header > form, header > .sub-nav {
    align-self: center;
    margin: 0.5rem 0;
}

main > div {
    width: 80%;
    height: 1000px;
    background-color: #dddfc2;
    margin: 2rem auto;
    border-radius: 30px;
}

footer {
    background-color: #94a59c;
    width: 100%;
    justify-items: center;
}